.locationContainer {
    width: 100%;
    font-size: 18px;
    padding: 11px;
}

.listItem {
    width: 20%;
    font-size: 14px;
    list-style-type: none;
    padding: 12px;
    color: black;
    display: block;
    border-bottom: 1px solid grey;
    background-color: rgba(206, 200, 200, 0.7);
    cursor: pointer;
    overflow: hidden;
    margin-left: 10px;
}

.listItem:hover {
    background-color: #eee;
}