.container {
    display: flex;
    justify-content: center;
    margin: 50px 40px 10px 40px;
}

.popup {
    font-size: 11px;
    list-style-type: none;
}

.icon {
    background: none;
    border: none;
    cursor: pointer;
}

.icon img {
    width: 20px;
    height: 20px;
}